#logo{
	width: 40px; 
	position: relative; 
	bottom: 10px; 
	float: left; 
	margin-right: 7px;
}
#pencarian{
	max-width: 90%; 
	float:left; 
	margin-right: 5px;
}

.form-group button svg{
  margin-bottom: -4px; width:20px;height:20px;
}

img{
	width: 100%;
}

#myCarousel{
	margin:0 auto;
}

svg{
	width: 20px;
	height:20px;
}

h1,.jumbotron p{
	text-align:center;
}

.jumbotron{
	margin-bottom: 0px;
}

.jumbotron p{
	margin-left: 30px;
	margin-right:30px;
}

#posisi-tombol{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.tombolnya{
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.well{
	margin-bottom: 0px;
}

#kakikiri{
	float:left;
	margin-left: 10px;
}

#kakikanan{
	float:right;
	margin-right:10px;
}

.ketengah{
	text-align: center;
}

.info-postingan{
	color:#646464;
	position: relative;
    bottom: 6px;
    font-weight: bold;
    font-size:12px;
}

h3{
	font-weight: bold;
}

.carousel-caption{
	text-shadow: 2px 2px 2px black;
}

.alert{
	margin-bottom: 0px;
	text-align: center;
}

.navbar-fixed-top{
	position: sticky;
}

.tab-content{
	margin-top: 10px;
}

.kanannya{
	margin-right: -20px;
}

.keahlianny{
	margin-left: 20px; 
}

.posisiBintang{
	margin-bottom:-3px;
	width:24px;height:24px
}

footer{
  background-color: #272632;
  height: auto;
  min-height: 30px;
  color:white;
}

.ikontak{
  margin-bottom: -5px;
  margin-left: 10px;
}

/* ukuran mobile */
@media (min-width:320px) and (max-width: 425px){
	#kakikiri,#kakikanan{
		text-align:center;
		float: none;
	}
	.tombolnya{
		padding-left: 20px;
    	padding-right: 20px;
	}
	.carousel-caption h3{
		font-size: 16px;
	}
	.carousel-caption p{
		font-size: 10px;
	}
  .omae{
    margin-left: -10px;
    font-size: 15px;
  }
  .posisiBintang{
    width: 20px;
    height: 20px;
  }
}

/*ukuran pencarian*/
@media (min-width: 768px) and (max-width: 1024px){
	.navbar-form .form-control{
		width: 140px;
	}
}

/*css dari skill*/
.skills-container {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.circular-progress {
  margin: auto; position: relative;
}

.circular-progress, .circular-progress:before, .circular-progress:after {
  width: 200px;  height: 200px;border-radius: 50%;
}

.circular-progress:before, .circular-progress:after {	
	position: absolute; top: 0; left: 0; -webkit-box-sizing: border-box;
	box-sizing: border-box; text-align: center;
}

.circular-progress:before {
  padding: 20px;line-height: 140px;font-size: 30px;
  font-weight: bold;
}

.circular-progress:after {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 230px;
}

.html {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #F1642C), color-stop(50%, rgba(241, 100, 44, 0.3)));
  background: linear-gradient(0deg, #F1642C 50%, rgba(241, 100, 44, 0.3) 50%);
  -webkit-transform: rotate(126deg);
  transform: rotate(126deg);
}

.html:before, .html:after {
  color: #F1642C;
}

.html:before {
  background: #FFFFFF content-box;
  -webkit-transform: rotate(-126deg);
  transform: rotate(-126deg);
  content: "70%";
}

.html:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #FFFFFF));
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  content: "html5";
  -webkit-transform: rotate(-126deg) scale(1.1);
  transform: rotate(-126deg) scale(1.1);
}

.css {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #25AFDE), color-stop(50%, rgba(37, 175, 222, 0.3)));
  background: linear-gradient(0deg, #25AFDE 50%, rgba(37, 175, 222, 0.3) 50%);
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
}

.css:before, .css:after { color: #25AFDE; }
.css:before {
  background: #FFFFFF content-box;
  -webkit-transform: rotate(-108deg);
  transform: rotate(-108deg);
  content: "60%";
}

.css:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #FFFFFF));
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  content: "css3";
  -webkit-transform: rotate(-108deg) scale(1.1);
  transform: rotate(-108deg) scale(1.1);
}

.javascript {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, yellow), color-stop(50%, rgba(255, 255, 0, 0.3)));
  background: linear-gradient(0deg, yellow 50%, rgba(255, 255, 0, 0.3) 50%);
  -webkit-transform: rotate(162deg);
  transform: rotate(162deg);
}

.javascript:before, .javascript:after { color: yellow; }
.javascript:before {
  background: #FFFFFF content-box;
  -webkit-transform: rotate(-162deg);
  transform: rotate(-162deg);
  content: "90%";
}

.javascript:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #FFFFFF));
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  content: "javascript";
  -webkit-transform: rotate(-162deg) scale(1.1);
  transform: rotate(-162deg) scale(1.1);
}

.php {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #767BB3), color-stop(50%, rgba(118, 123, 179, 0.3)));
  background: linear-gradient(0deg, #767BB3 50%, rgba(118, 123, 179, 0.3) 50%);
  -webkit-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}

.php:before, .php:after {  color: #767BB3;}
.php:before {
  background: #FFFFFF content-box;
  -webkit-transform: rotate(-151.2deg);
  transform: rotate(-151.2deg);
  content: "84%";
}
		
.php:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #FFFFFF));
  background: linear-gradient(transparent 50%, #FFFFFF 50%);
  content: "php";
  -webkit-transform: rotate(-151.2deg) scale(1.1);
  transform: rotate(-151.2deg) scale(1.1);
}

/*efek paralax*/

section.section p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.section p:last-child {
  margin-bottom: 0;
}
section.section.content {
  padding: 40px 0;
}
section.section.parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
  background-position: 50% 50%;
}
section.section.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  padding-top: 250px;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.section.parallax-1 {
  background-image: url("img/5.jpg");
}

.kucing{
  width: 40px; height: 40px;
  margin-top: 10px; margin-left: 12px;
}

#apanih{
  border-radius: 20px;
  background-color: #00000024;
  width: 360px;
  margin: 0 auto;
}